<header class="top">
  <h1>SCRAPING BY</h1>
  <h2>New York Times Edition</h2>
</header>
<main class="container">
  <section class="left" id="articles">
    <h3><button id="new">Get New-s</button> Articles</h3> 
    {{#if data}}
      {{#each data}}
        {{#unless this.saved}}
          <article>
            <div class="box save" data-id="{{this.id}}">☐</div>
            <div class="content">
              <a href="{{this.link}}" target="_blank" title="{{this.link}}">
                <h4>{{this.title}}</h4>
              </a>
            </div>
          </article>
        {{/unless}}
      {{/each}}
    {{/if}}
  </section>
  <section class="right" id="notes">
    <h3>Saved Articles</h3>
    {{#if data}}
      {{#each data}}
        {{#if this.saved}}
          <article>
            <div class="box unsave" data-id="{{this.id}}">☑</div>
            <div class="content">
              <a href="{{this.link}}" target="_blank" title="{{this.link}}">
                <h4>{{this.title}}</h4>
              </a>
              <div class="note">
                <div class="arrow">↳</div>
                <p>Some notes of this</p> 
              </div>
            </div>
          </article>
        {{/if}}
      {{/each}}
    {{/if}}
  </section>
</main>
<footer>
minimal by design
</footer>
